# Ve≈æbe 1: Python

In [ ]:
print('Hello world!')

In [ ]:
message = 'Hello world!'
print('Text:', message)

message = 1
print('Number:', message)

message = 2
print('Number:', message, end=', ')

message = 3
print('Number', message, sep=': ')

In [ ]:
first_name = 'Linus'
last_name = 'Torvalds'

full_name = first_name + ' ' + last_name

print(full_name)

In [ ]:
quote = 'Any program is only as good as it is useful'

print(f"{full_name} once said\n\t'{quote}'")

In [ ]:
def print_math(izraz, result):
    print(izraz, result, sep=' = ')

print_math('3 + 2', 3 + 2)
print_math('3 - 2', 3 - 2)
print_math('3 * 2', 3 * 2)
print_math('3 / 2', 3 / 2)
print_math('3 // 2', 3 // 2)
print_math('3 ^ 2', 3 ** 2)

In [ ]:
students = ['Alice', 'Bob', 'Oscar']

total = len(students)

print(f'There are {total} students')

In [ ]:
for s in students:
    print('Hello, ' + s + '!')

In [ ]:
for s in reversed(students):
    print('Hello, ' + s + '!')

In [ ]:
print('First:', students[0])
print('Second:', students[1])
print('Last:', students[-1])
print('Second-last:', students[-2])

In [ ]:
i = 0
for s in students:
    i += 1
    print('{}. student is {}'.format(i, s))

In [ ]:
for i, s in enumerate(students):
    print('{}. student is {}'.format(i + 1, s))

In [ ]:
print('Before:', students)

students[2] = 'Caprice'

print('After:', students)

In [ ]:
students[99] = 'Oscar'

In [ ]:
print('Caprice' in students)
print('Oscar' in students)

In [ ]:
print('Before:', students)

students.append('Danny')

print('After:', students)

In [ ]:
even = []
odd = []

for i, s in enumerate(students):
    if i % 2 == 0:
        even.append(s)
    else:
        odd.append(s)

print(even)
print(odd)

In [ ]:
all = [s for s in students]
print(all)

enums = [(i, s) for i, s in enumerate(all)]
print(enums)

even = [s for i, s in enums if i % 2 == 0]
print(even)

odd = [s for i, s in enums if i % 2 != 0]
print(odd)

In [ ]:
print(students)
print(students[1:3])
print(students[1:])
print(students[:3])
print(students[:-1])
print(students[:-2])

In [ ]:
for i in range(10):
    print(i, end=' ')

In [ ]:
for i in range(3, 10):
    print(i, end=' ')

In [ ]:
for i in range(3, 10, 2):
    print(i, end=' ')

In [ ]:
print('Before:', students)

del students[1]

print('After:', students)

In [ ]:
grades = {'Alice': 10, 'Bob': 9, 'Caprice': 5, 'Danny': 9}
print(grades)

In [ ]:
grades['Oscar'] = 7
print(grades)

In [ ]:
grades['Oscar'] = 99
print(grades)

In [ ]:
del grades['Oscar']
print(grades)

In [ ]:
for key, value in grades.items():
    print('Student {} has {}'.format(key, value))

In [ ]:
for key, value in grades.items():
    if value == 10:
        print('{} is an excellent student'.format(key))
    elif value == 5:
        print('{} did not pass'.format(key))
    else:
        print('{} is a good student'.format(key))

In [ ]:
def flexible_sum(a, b = 0):
    return a + b

print(flexible_sum(3, 2))
print(flexible_sum(3))
print(flexible_sum(b=2, a=3))

In [ ]:
def div(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        print('Divisor is zero')
        return None

div(3, 0)

In [ ]:
class Animal:
    def __init__(self, sound):
        self.sound = sound
    
    def play_sound(self):
        print(self.sound)


class Dog(Animal):
    def __init__(self):
        super(Dog, self).__init__('Bark!')

In [ ]:
d = Dog()
d.play_sound()

In [ ]:
path = '/content/drive/My Drive/PP/data/wiki.txt'
!cat '{path}'

In [ ]:
with open(path, 'r') as source:
    text = source.read()
    length = len(text)

    i = 0
    buffer = ''
    flag_number = False
    flag_upper = False
    flag_lower = False

    while i <= length:
        if i < length:
            curr = text[i]
            ascii = ord(curr[0])
        i += 1
        if curr == ' ' or curr == '\n' or curr == '-' or i == length:
            if flag_number:
                print(buffer, 'NUMBER')
            elif flag_upper:
                print(buffer, 'UPPER')
            elif flag_lower:
                print(buffer, 'LOWER')
            buffer = ''
            flag_number = False
            flag_upper = False
            flag_lower = False
            continue
        elif curr == ',' or curr == '.' or curr == '!':
            continue
        elif ascii >= 48 and ascii <= 57:
            flag_number = True
        elif ascii >= 65 and ascii <= 90:
            flag_upper = True
        elif ascii >= 97 and ascii <= 122:
            flag_lower = True
        buffer += curr

    print(buffer)

In [ ]:
with open(path, 'r') as source:
    text = source.read()

    for chunk in text.split():
        chunk = chunk.replace(',', '').replace('.', '').replace('!', '')
        for token in chunk.split('-'):
            if token.isnumeric():
                print(token, 'NUMBER')
            elif token[0].isupper():
                print(token, 'UPPER')
            else:
                print(token, 'LOWER')